.main-button {
    
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .button-red {
    background-color: #c22b11; /* Red */
  }

  .button-green {
    background-color: #36d816; /* Green */
  }

  .logged-in {
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    }

  .home {
    background-color: #1e8fac; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 12px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }

/* Class For Header */
.lpc_maximized-header,
.lpc_minimized-header {
 
    height: 48px !important;
    border-radius: 8px 8px 0px 0px !important;

}

/* Class For Header Text*/
.lpc_minimized-header__text,
.lpc_maximized-header__text {
   
    margin-top: 2px !important;
    flex-grow: 0 !important;
    font-size: 14px !important;
    font-weight: normal !important;
    font-stretch: normal !important;
    font-style: normal !important;
    line-height: 1.71 !important;
    letter-spacing: normal !important;
}

/* Class For Header Icons*/
.lpc_maximized-header__minimize-button,
.lpc_maximized-header__close-button,
.lpc_minimized-header__close-button{
    margin-right: 4px !important;
    margin-top: 4px !important;
}



/* Class For Agent Bubble*/
.lpc_message_agent{
     border-radius: 8px !important;
}

/* Class For visitor Bubble*/
.lpc_message_visitor {

    padding: 10px !important;
    border-radius: 10px !important;
}

/* Class For Card*/
..lpc_mobile.lpc_card {
    border-radius: 10px !important;
    font-family: Helvetica !important;
    /* max-width: 80% !important; */

}
/* Class For Card Area Text*/
.lpc_card__text span {
    font-family: Helvetica;
    line-height: 1.71 !important;
    font-size: 14px !important;
    color: #000  !important;
}

/* Class For Card Button Text*/
.lpc_card__button button {
    
    font-family: Helvetica;
    line-height: 1.71 !important;
    font-size: 14px !important;
    color: #000  !important;
}


/* Class For Visitor Bubble Text*/
.lpc_message__text_visitor,
.lpc_message__text_visitor p {
     
    font-size: 14px !important;
    /* line-height: 1.71 !important; */
}

/* Class For Agent Bubble Text*/
.lpc_message__text,
.lpc_message_agent__text p {
   
    font-size: 14px !important;
    line-height: 1.71 !important;
  
}

/* Class For System Generated Message*/
.lpc_message__text_system{
  
   
    font-family: Helvetica-Light !important;
    font-size: 14px !important;
    line-height: 1.71 !important;
    letter-spacing: normal !important;
    font-weight: 300;
    color: #000 !important;
  }

  /* Class For Bot Name Below Agent Message*/
.lpc_message-area__timestamp_agent {
     
    font-size: 10px !important;
    color: #000000 !important;
    font-family: Helvetica !important;
   /* line-height: 2.4 !important;*/
}

/* Class for Agent Buuble Excluding Carousel/Cards */
.lp-window-root.lp_chat_line_wrapper.lp_new_chat_line {
    max-width: 80% !important;
}

/* Class for the top date*/
.lp-window-root .lp_chat_line_wrapper.lp_grouped.lp_agent .lp_new_chat_line {
   padding: 12px !important;
}

/* Class for the top date */
.lp-window-root .lp_chat_line_wrapper .lp_chat_line_date_message {
    
    font-family: Helvetica !important;
    font-weight: bold !important;
    color: #000000  !important;
    font-size: 14px !important;
    line-height: 24px  !important;
    padding-top: 10px !important;
    padding-right: 20px !important;
}
/* Class for submenu card width */
.lp-json-pollock-layout, .lp-window-root .lp_chat_line_wrapper .lp_rich_content_line .lp_title_text .lp-json-pollock.lp-json-pollock-single-element{
    max-width: 210px !important;
}
/* Class for the chat window left padding  */
.lp-window-root .lp_chat_line_wrapper {
 padding-left: 29px !important;   
}
/* Class for the vehicle card width */
.lp-json-pollock-layout-carousel>*{
    width: 190px !important;
}
